@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko:300,400&display=swap");
.login-block {
  background: rgba(16, 29, 44, 0.95); 
  background: -webkit-linear-gradient (to bottom,rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)),
  url("/img/electrical-2476783_1920.jpg") center no-repeat; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)),
  url("/img/electrical-2476783_1920.jpg") center no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  width: 100%;
  padding: 50px 0;
}
.banner-sec {
    background: linear-gradient(rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)),
    url("/img/electrical-2476783_1920.jpg") center no-repeat;
  background-size: cover;
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}
.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}
.carousel-inner {
  border-radius: 0 10px 10px 0;
}
.carousel-caption {
  text-align: left;
  left: 5%;
}
.login-sec {
  padding: 50px 30px;
  position: relative;
}
.login-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}

div .copy-text {
    font-family: 'Teko', sans-serif;
}
.login-sec .copy-text i {
  color: #feb58a;
}
.login-sec .copy-text a {
  color: #101d2c;
}
.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 50px;
  color:  #c69963;
  font-family:  "Niconne", cursive;
}
.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #c69963;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.btn-login {
  background: #c69963;
  color: #fff;
  font-weight: 600;
  font-family: 'Niccone', cursive;
}
.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}
.banner-text h2 {
  color: darkgray;
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  font-size: 50px;
}
.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: darkgray;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}
.banner-text p {
  color: darkgray;
  font-family: 'Teko',sans-serif;
  font-size: 18px;
}

.banner-text p a {
    color: darkgray;
}

label  {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)),
    url("/img/electrical-2476783_1920.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}
