@import url('https://fonts.googleapis.com/css?family=Arapey');
body {
  margin: 0;
  font-family: 'Arapey';
}
body h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 30%;
}
body h3 {
    font-size: 2em;
    text-align: center;
    margin-top: 10%;
  }
section {
  padding: 3em;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}
section blockquote {
    font-size: 2em;
    width: 30%;
    margin-top: 17%;
    position: absolute;
}
section span {
    width: 100%;
    background: darkgreen;
    display: block;
    height: 5px;
    margin-top: 20px;
}

section:nth-child(odd) {
    background: #f1f1f1;
    
}
img {
    position: absolute;
}

img:nth-of-type(1) {
    width: 40%;
    right: 0;
    top: 20%;

}
img:nth-of-type(2) {
    width: 25%;
    right: 40%;
    top: 29%;
    margin-top: 15%;

}