@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

* li, * a, * button {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

* header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
}

* header .nav__links {
  list-style: none;
}

* header .nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

* header .nav__links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

* header .nav__links li a:hover {
  color: #0088a9;
}

* header button {
  padding: 9px 25px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

* header button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

* header .glider-contain {
  background: #fff;
  width: 900px;
  height: 500px;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px auto;
  position: relative;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.157);
          box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.157);
}

* header .glider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
}

* header .glider .picture {
  width: 900px;
  display: block;
}

* header .glider .picture img {
  max-width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

* header .glider .name {
  padding: 8px 48px;
  font-size: 24px;
  text-align: center;
  background: #f1f1f1;
}

* header .glider-next, * header .glider-prev {
  position: absolute;
  top: 222px;
  font-size: 48px;
  cursor: pointer;
}

* header .glider-prev {
  left: -24px;
}

* header .glider-next {
  right: -24px;
}

* header .dots-container {
  width: 120px;
  padding: 8px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  bottom: -24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

* #nextBtn:hover {
  padding: 10px 10px;
  background: #204345;
  letter-spacing: 2px;
}

* #modalBtn {
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

* #modalBtn:hover {
  padding: 15px 20px;
  background: #204345;
  letter-spacing: 2px;
}

* .modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  margin: 0 auto;
  padding: 20px;
  width: 50%;
  -webkit-animation: formDown .5s;
          animation: formDown .5s;
}

* .loginBox {
  width: 60%;
  height: 420px;
  background: black;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
}

* .avatar {
  width: 100px;
  height: 110px;
  position: relative;
  top: -50px;
  left: calc(50% - 50px);
}

* .h3 title {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: aliceblue;
}

* .label h3 {
  padding: 0 0 20px;
  text-align: center;
  color: #fff;
}

* .loginBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

* .loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

* .loginBox input[type="text"], * .loginBox input[type="password"] {
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

* .loginBox input[type="text"]:focus, * .loginBox input[type="password"]:focus {
  border-bottom: 1px solid #0007c8;
}

* .loginBox input[type="submit"] {
  border: none;
  outline: none;
  background: #0007c8;
  color: #fff;
  height: 40px;
  font-size: 18px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

* .loginBox input[type="submit"]:hover {
  cursor: pointer;
  background: #204345;
}

* #close {
  float: right;
  font-size: 36px;
  cursor: pointer;
}

@-webkit-keyframes formDown {
  from {
    top: -100px;
    opacity: 0;
  }
  top {
    top: calc(50%);
    opacity: 1;
  }
}

@keyframes formDown {
  from {
    top: -100px;
    opacity: 0;
  }
  top {
    top: calc(50%);
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  * .modalContent {
    width: 70%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  * .modalContent {
    width: 80%;
  }
}

@media (max-width: 575px) {
  * .modalContent {
    width: 9    0%;
  }
}
/*# sourceMappingURL=slide.css.map */