@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
    margin: 0;
    padding: 0;
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

* li, * button {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
  }
  
  * header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 10%;
  }
  
  * header .nav__links {
    list-style: none;
  }
  
  * header .nav__links li {
    display: inline-block;
    padding: 0px 20px;
  }
  
  * header .nav__links li a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  * header .nav__links li a:hover {
    color: #0088a9;
  }
  
  * header button {
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  * header button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  * header .glider-contain {
    background: #fff;
    width: 900px;
    height: 500px;
    padding: 32px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 48px auto;
    position: relative;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.157);
            box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.157);
  }
  
  * header .glider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 900px;
  }
  
  * header .glider .picture {
    width: 900px;
    display: block;
  }
  
  * header .glider .picture img {
    max-width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  
  * header .glider .name {
    padding: 8px 48px;
    font-size: 24px;
    text-align: center;
    background: #f1f1f1;
  }
  
  * header .glider-next, * header .glider-prev {
    position: absolute;
    top: 222px;
    font-size: 48px;
    cursor: pointer;
  }
  
  * header .glider-prev {
    left: -24px;
  }
  
  * header .glider-next {
    right: -24px;
  }
  
  * header .dots-container {
    width: 120px;
    padding: 8px;
    background: #fff;
    border-radius: 8px;
    position: absolute;
    bottom: -24px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.button {
    padding: 9px 25px;
            background-color: whitesmoke;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.3s ease 0s;
}

.container .box {
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.container .box .icon {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}
.container .box:nth-child(1):hover .icon {
    box-shadow: 0 0 0 400px #e91e63;
}
.container .box:nth-child(1) .icon {
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}
.container .box:nth-child(2) .icon {
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}
.container .box:nth-child(2):hover .icon {
    box-shadow: 0 0 0 400px #23e629;
}
.container .box:nth-child(3) .icon {
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}
.container .box:nth-child(3):hover .icon {
    box-shadow: 0 0 0 400px #23e629;
}
.container .box:nth-child(4) .icon {
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}
.container .box:nth-child(4):hover .icon {
    box-shadow: 0 0 0 400px #23e629;
}
.container .box:nth-child(5):hover .icon {
    box-shadow: 0 0 0 400px #e91e63;
}
.container .box:nth-child(5) .icon {
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}
.container .box:nth-child(6) .icon {
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}
.container .box:nth-child(6):hover .icon {
    box-shadow: 0 0 0 400px #23e629;
}

.container .box .content {
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.container .box:hover .content {
    color: #fff;

}
.container .box .content h3 {
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}
.container .box .content p {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.container .box::before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
    z-index: 2;
    pointer-events: none;
}
