body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:  whitesmoke;
    width: 100%;
    z-index: 1;
}
.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

}

a:hover {
    color: #000;
}

.banner-area {
    position: relative;
    background: linear-gradient(rgba(16, 29, 44 ,.95), rgba(16, 29, 44 ,.95)),
                url('/img/electrical-2476783_1920.jpg') center no-repeat;
    width: 100%;
    height: 100vh;
}
.about-area, .ability-area, .contact-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.about-area, .contact-area {
    background-color: #fefefe;
}
.ability-area {
    background: #262626;
}

.text-part {
    width: 65%;
    height: 85%;
}

p {
    line-height: 50px;

}

html {
    scroll-behavior: smooth;
}